VITE_SOLANA_CLUSTER=devnet
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com

# Filled after deploying the Anchor/Arcium program.
VITE_CIPHERLEND_PROGRAM_ID=4fT2QQh5sWPZ1bpHrcxRp7urQ5zSJoXiXuMKeCQqoXW7
VITE_ARCIUM_MXE_PUBLIC_KEY=[79,104,64,1,96,40,224,163,130,150,201,36,119,134,20,46,42,183,141,243,12,159,221,201,93,166,226,20,88,236,32,95]
VITE_ARCIUM_CLUSTER_OFFSET=456
